@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Open Sans font utility classes */
.opensans-light {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.opensans-regular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.opensans-medium {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.opensans-semibold {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.opensans-bold {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.opensans-extrabold {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}
.opensans-light-italic {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.opensans-regular-italic {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.opensans-bold-italic {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* Comfortaa font utility classes */
.comfortaa-light {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.comfortaa-regular {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.comfortaa-medium {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.comfortaa-semibold {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.comfortaa-bold {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.comfortaa-extrabold {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.comfortaa-light-italic {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}
.comfortaa-regular-italic {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

.comfortaa-bold-italic {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
}
